// Variables
// ========================================================================

@article-margin-top:                            @global-margin-large*2;

//@article-title-font-size:                       round((@global-font-size * 2.6)); // 36px / 42px
//@article-title-line-height:                     round((@article-title-font-size * 1.154)); // 42px / 48px
@article-title-font-weight:                     300;
@article-title-text-transform:                  normal;

@article-meta-font-size:                        12px;
@article-meta-line-height:                      18px;
@article-meta-color:                            #999;

@article-lead-color:                            @global-color;
@article-lead-font-size:                        round((@global-font-size * 1.28)); // 18px / 20px
@article-lead-line-height:                      round((@article-lead-font-size * 1.32)); // 24px / 26px
@article-lead-font-weight:                      normal;

@article-divider-margin:                        @global-margin-large;
@article-divider-border:                        @global-border;


// Sub-object `uk-article-title`
// ========================================================================

.hook-article-title() {
  &:hover{
    color: @primary-color;
  }
}


// Sub-object `uk-article-meta`
// ========================================================================

.hook-article-meta() {}


// Sub-object `uk-article-lead`
// ========================================================================

.hook-article-lead() {}


// Sub-object `uk-article-divider`
// ========================================================================

.hook-article-divider() {}


// Miscellaneous
// ========================================================================

.hook-article-misc() {}