@text-small-font-size:                          11px;
@text-small-line-height:                        16px;
@text-large-font-size:                          18px;
@text-large-line-height:                        24px;
@text-large-font-weight:                        300;

@text-muted-color:                              #999;
@text-primary-color:                            @primary-color;
@text-success-color:                            @secondary-color;
@text-warning-color:                            #e28327;
@text-danger-color:                             #d85030;
@text-contrast-color:                           #fff;