@back:#000;
@white:#fff;
@dark-grey:#444;
@light-grey:#ededed;
@medium-grey:#999;
@bg-grey:#f5f5f5;
@primary-color:#9B1E24;
@secondary-color:#4ABB9C;

@base-spacing: 25px;

// Text
//

@global-color:                                  #444;
@global-muted-color:                            #999;

@global-link-color:                             @primary-color;
@global-link-hover-color:                       darken(@primary-color,10%);

@global-contrast-color:                         #fff;

@global-font-size:                              16px;
@global-line-height:                            1.5;

//
// Backgrounds & Borders
//

@global-background:                             @white;
@global-border:                                 @light-grey;

@global-primary-background:                     @primary-color;
@global-success-background:                     @secondary-color;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;

//
// Spacings
//

@global-margin:                                 15px;
@global-margin-large:                           25px;
@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      35px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           40px;

//
// Z-index
//

@global-z-index:                                1000;

//
// Breakpoints
//
@breakpoint-small:                              480px;
@breakpoint-medium:                             768px;
@breakpoint-large:                              960px;
@breakpoint-xlarge:                             1220px;

@breakpoint-mini-max:                           (@breakpoint-small - 1);
@breakpoint-small-max:                          (@breakpoint-medium - 1);
@breakpoint-medium-max:                         (@breakpoint-large - 1);
@breakpoint-large-max:                          (@breakpoint-xlarge - 1);