/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
*/
a{
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.tm-main {
  background: @global-background;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tm-header {
  border-bottom: 1px solid @global-border;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: @white;

}

header.tm-header.uk-block.uk-sticky-init.uk-active {
  z-index: 1000;
}

.tm-site-branding, .tm-site-branding a {
  height: 80px;
  width: 238px;
}

.tm-site-title-tag {
  text-align: center;
  position: relative;
  top: -23px;
  left: 109px;
  font-size: 18px;
  color: @primary-color;
  font-family: @base-heading-font-family;
  font-weight:600;
}

/*--------------------------------------------------------------
Nav
--------------------------------------------------------------*/
.uk-icon-search {
  font-size: 20px;
  color: @dark-grey;
  margin-top: 12px;
}

/*--------------------------------------------------------------
sidebar
--------------------------------------------------------------*/
.tm-widget {
  margin-bottom: 40px;
}

.tm-secondary {
  margin-bottom: 100px;
  .uk-article-title{
    margin-bottom: 0;
    padding: 10px 10px 0;
  }
}

/*--------------------------------------------------------------
content
--------------------------------------------------------------*/
.tm-cover-article {
  @media (min-width: @breakpoint-small) {
    margin-right: -@base-spacing;
    margin-left: -@base-spacing;
  }
  //padding-top: 0;

}

article {
  img {

    @media (min-width: @breakpoint-small) {
      margin: @base-spacing auto 0;
      display: block;
    }
  }
}

.uk-article.has-post-thumbnail {
  padding-top: 0;
}

.tm-cover-article iframe,
.tm-cover-article blockquote {
  width: 2000px !important;
  max-width: 100% !important;
  box-shadow: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.uk-article-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  max-width:600px;
  margin: 0 auto;
  @media (min-width: @breakpoint-medium) {
    font-size: 30px;
  }
  text-align: center;
  padding: 10px;
  margin-bottom: -20px;
  .single &{
    margin-bottom: -20px;
  }
}

.blog {
  .uk-article-title {
    @media (min-width: @breakpoint-small) {
      font-size: 30px;
    }
  }
  .tm-article-content {
    p {
      margin-bottom: 0;
    }
  }
}

.pin-it-btn-wrapper
.pin-it-btn-wrapper:last-child {
  display: none !important;
}

.more-link {
  margin: 0 auto;
  display: block;
  width: 300px;
}

.uk-article-meta {
  //border: 1px solid @light-grey;
  padding: 5px 10px 12px;
  background: @bg-grey;
  max-width: 600px;
  margin: 0 auto 12px;

  li {
    font-size: 16px !important
  }
}

.tm-article-content {
  max-width: 600px;
  margin: 0 auto;
}
/*--------------------------------------------------------------
GRID FILTER
--------------------------------------------------------------*/
#grid-filter{

 > li > a {
   font-size: 16px;
   font-family: @base-heading-font-family;
   font-weight: 600;
   color: @dark-grey;
   border:1px solid @light-grey;
   padding: 5px 10px;
   &:hover{
     color: @white;
     border-color: @primary-color;
     background: @primary-color;
   }

 }
}

.grid-title{
  margin-bottom: -15px !important;
}

/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/
.tm-fat-footer {
  background: @white;
  border-top: 1px solid @light-grey;
}

.tm-footer {
  background: @bg-grey;
  border-top: 1px solid @light-grey;
  padding-top: @base-spacing;
  padding-bottom: @base-spacing;
  color: @dark-grey;

}

/*--------------------------------------------------------------
Front page
--------------------------------------------------------------*/
.home {
  .uk-panel-box {
    margin-bottom: @base-spacing;
  }
}
.uk-article-title{
  margin-bottom: 10px;
}

.four-posts {
  .uk-article-title {
    @media (min-width: @breakpoint-medium) {
      font-size: 24px;
    }
  }

}

.last-post {
  padding-top: 0;
  p,.uk-article-title{
    max-width: 600px;
    margin: 0 auto;
  }
  .uk-article-title{
    margin-top: 10px;
    margin-bottom: -15px;
  }
}

.four-posts {
  .uk-article-title {
    margin-top: -20px;
    margin-bottom: -20px;
  }
  p {
    margin-top: 20px;
    padding: 0 10px;
    @media (min-width: @breakpoint-medium) {
      text-align: justify;
    }
  }
  img{
    margin-top: 5px;
  }
}

.home-section-title {
  @media (min-width: @breakpoint-medium) {
    font-size: 36px;
  }
}

.left-post {
  margin-top: -20px;
}

.side-posts {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid darken(@global-border, 10%);
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .uk-article-title {
    font-size: 18px;
    margin-top: 25px;

    padding: 0 0 10px;

  }
}

/*--------------------------------------------------------------
Sidebar Widgets
--------------------------------------------------------------*/
.tm-secondary {
  .tm-widget {
    .uk-panel-title {
      font-size: 18px;
      padding: 10px;
      //background:@primary-color;
      //color: @white;
      margin-top: -25px;
      margin-left: -25px;
      margin-right: -25px;
      text-align: center;
      border-bottom: 1px solid @global-border;
    }
    .uk-article-title {
      font-size: 16px;
      //margin-top: 5px;
    }
    .tm-article-image {
      margin-top: 0;
      margin-bottom: 0;

    }
    .post-container {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid darken(@global-border, 10%);

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

    }
  }
}
[class*="tbnwidget"]{
  padding:6px;
}

/*--------------------------------------------------------------
Utility bar
--------------------------------------------------------------*/
.utility-bar {
  background: @bg-grey;
  border-bottom: 1px solid @global-border;
  padding-top: 10px;
  .tm-widget {
    .uk-panel-title {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: -15px;
      color: @black;
    }
  }
}

.mc4wp-form-theme input[type=text],
.mc4wp-form-theme input[type=email],
.mc4wp-form-theme input[type=tel],
.mc4wp-form-theme input[type=url],
.mc4wp-form-theme input[type=date],
.mc4wp-form-theme input[type=number],
.mc4wp-form-theme select, .mc4wp-form-theme textarea,
.mc4wp-form-theme-light button,
.mc4wp-form-theme-light input[type=submit]

 {
  height: 35px !important;
  width: 100px;
}

.mc4wp-form-theme-light button,
.mc4wp-form-theme-light input[type=submit]{
  line-height: 30px !important;
  padding: 0 16px !important;
  font-size: 16px !important;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: italiana;
  font-weight: 600 !important;
  &:hover{
    background: @primary-color !important;
    color:@white !important;
  }
}

.social_media_bar{
  @media (max-width:@breakpoint-medium){
    margin:-35px auto 10px;
    display: block;
  }
  .fa{
    font-size:30px;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    &:hover{
      opacity:.6;
    }
  }
  .social-media-title{
    font-size:16px;
  }
}
/*--------------------------------------------------------------
Contact Form
--------------------------------------------------------------*/

#frmCSCF{
  .control-group.form-group{
    margin-bottom:20px;
    label{
      margin-bottom: 10px !important;
    }

    input, textarea{
      width: 100%;
      border-radius:0;
      margin-top: 10px;
    }
    input{
      height: 50px;
    }
    textarea{
      height: 200px;
    }
  }
}
#cscf_SubmitButton{
  padding: 10px 15px;
  border-radius:0;
  border: 1px solid @light-grey;
  font-family: @base-heading-font-family;
  background: @white;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover{
    background: @primary-color;
    border-color: @primary-color;
    color: @white;
    cursor: pointer;
  }
}


